.wrapper {
    width: 90%;
    margin: auto;
}
.table{
    width: 70%;
    margin: auto;
}
.content_row {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: lightgray 2px solid;
    cursor: pointer;
    text-decoration: none;
}
.month{
    padding: 3px 20px 3px 20px;
    font-size: 25px;
    color: dimgrey;
    border: dimgrey 2px solid;
    border-radius: 10px;
}
.month_selected{
    padding: 3px 20px 3px 20px;
    font-size: 25px;
    color: coral;
    border: coral 2px solid;
    border-radius: 10px;
}
.income {
    font-size: 25px;
    color: dodgerblue;
    font-weight: bold;
    padding: 10px;
}
.expense {
    font-size: 25px;
    color: coral;
    font-weight: bold;
    padding: 10px;
}
