.container {
  background: #0160b2;
  height: 70px;
  min-width: 300px;
  display: grid;
}

.user_content {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
}
.user_email {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.caret_down {
  padding-left: 10px;
}
.dropdown_content {
  display: block;
  margin-top: 20px !important;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  width: 100%;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
}

.dropdown_content a svg {
  margin-right: 10px;
}

.dropdown_content a:hover {
  color: #0160b2;
  background-color: #d3d3d3;
  text-decoration: none;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.page_title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  justify-content: center;
}
