.container {
  margin: auto;
  width: 50%;
}
.table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
td {
  border-top: lightslategray solid 2px;
  height: 40px;
}
.content_row {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: lightgray 2px solid;
  cursor: pointer;
  text-decoration: none;
}
.month_content {
  width: 200px;
  text-align: -webkit-center;
}
.month {
  width: 150px;
  font-size: 1.6rem;
  color: dimgrey;
  border: dimgrey 2px solid;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.month_selected {
  width: 150px;
  font-size: 1.6rem;
  color: #60cd50;
  border: #60cd50 2px solid;
  border-radius: 10px;
  text-align: center;
}
.income {
  font-size: 1.6rem;
  color: #0160b2;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.expense {
  font-size: 1.6rem;
  color: red;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
