.modal_wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1050 !important;
  background-color: rgba(192, 192, 192, 0.8) !important;
}
/* .wrapper_container {
  margin: 25% auto auto auto !important;
  width: 50% !important;
  display: flex !important;
} */

.modal_container_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_info_wrapper {
  width: 80%;
  min-height: 400px;
  background: #0160b2;
  color: white;
  border-radius: 9px;
  margin: auto !important;
}
.change_previous_date {
  font-size: 8rem;
  color: #0160b2 !important;
  cursor: pointer;
}
.change_previous_date:hover {
  font-size: 10rem;
}
.add_button {
  position: absolute;
  bottom: 27px;
  right: 25px;
  font-size: 2rem;
}
.add_button:hover {
  cursor: pointer;
  color: coral;
}
.close_button {
  position: absolute;
  bottom: 105%;
  left: 45%;
  font-size: 3rem;
  color: #0160b2;
}
.close_button:hover {
  color: red;
  cursor: pointer;
}
/*
.change_date {
  font-size: 100px;
  padding: 30px;
  cursor: pointer;
  color: #0160b2;
  margin: auto;
}

.date {
  padding: 10px;
  font-size: 20px;
}
.content {
  margin-top: 40px;
  margin-left: 20px;
  min-height: 230px;
}
.content_row {
  min-width: 100px;
  align-items: center;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  flex-wrap: wrap;
  word-break: break-all;
}
.add_button {
  cursor: pointer;
  font-size: 40px;
  margin-left: 510px;
  padding: 20px;
}
.close_button {
  color: #0160b2;

  font-size: 60px;
  display: flex;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}
.function_container {
  display: flex;
}
.delete {
  cursor: pointer;
  padding-left: 20px;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
.edit {
  cursor: pointer;
  padding-left: 20px;
}
.edit:hover {
  color: yellow;
  cursor: pointer;
} */
