.container {
  margin: auto;
  width: 50%;
}
.table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
td {
  border-top: lightslategray solid 2px;
}
.date_container {
  width: 100px;
}
.date {
  margin: auto;
  width: 250px;
  font-size: 1.6rem;
  color: dimgrey;
  font-weight: bold;
  padding: 10px;
  border: dimgrey 5px solid;
  border-radius: 10px;
  text-align: center;
}
.selected_date {
  text-align: center;
  margin: auto;
  width: 250px;
  font-size: 1.6rem;
  color: #60cd50;
  font-weight: bold;
  padding: 10px;
  border: #60cd50 5px solid;
  border-radius: 10px;
}
.income {
  color: #0160b2;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.expense {
  font-size: 1.6rem;
  color: coral;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.info_row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  text-align: center;
}
.info_title {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  justify-content: space-evenly;
  color: dimgrey;
  font-weight: bold;
}
.total {
  height: 60px;
  font-size: 1.6rem;
  color: dimgrey;
  font-weight: bold;
  padding: 10px;
}
