.container {
  margin: auto;
  width: 50%;
}
.table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
.table_container {
  border-top: dimgrey 3px solid;
  border-bottom: lightgray 10px solid;
}
.content_row {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: lightgray 2px solid;
}
.date_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.date {
  font-size: 60px;
  font-weight: bolder;
  padding: 10px;
}
.date_year {
  color: dimgrey;
  padding: 3px;
  font-size: 20px;
}
.date_day {
  color: white;
  background: dimgrey;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}
.date_day_select {
  color: white;
  background-color: #60cd50;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}
.income {
  font-size: 25px;
  color: dodgerblue;
  font-weight: bold;
  padding: 10px;
  justify-content: center;
}
.expense {
  font-size: 25px;
  color: coral;
  font-weight: bold;
  padding: 10px;
  justify-content: center;
}
.category {
  font-size: 20px;
}
