{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-console": 2,
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "never",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "never",
        "prev": "case",
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": "cjs-import",
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 4,
        "ignoreStrings": true
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          [
            "builtin",
            "external",
            "internal"
          ],
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "newlines-between": "never"
      }
    ],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "no-duplicate-imports": "error"
  }
}