.wrapper_sideBar {
  min-width: 250px;
  max-width: 250px;
  background: lightgrey;
  color: #fff;
  transition: all 0.3s;
  min-height: 100vh;
}
.wrapper_sideBar_back {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  background: lightgrey;
  transition: all 0.3s;
  min-height: 100vh;
}
.sidebar_header {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #0160b2;
  height: 150px;
  align-items: center;
  display: flex;
}
.close_button {
  font-size: 30px;
  color: #0160b2;
  margin-top: 20px;
}
.close_button_open_sidebar {
  font-size: 30px;
  text-align: end;
  padding: 20px;
  color: #0160b2;
}
.close_button svg {
  cursor: pointer;
}

.close_button_open_sidebar svg {
  cursor: pointer;
}

.open_menu {
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.content {
  padding: 20px 0;
  margin-top: 30px;
  display: grid;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
.small_sidebar_content {
  padding: 20px 0;
  margin-top: 50px;
  display: grid;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}
.title {
  padding: 10px 0 10px 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.title_select {
  padding: 10px 0 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #0160b2;
}

.menu_icon_container {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 0 10px 0;
}

.select_menu_icon {
  color: #0160b2;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 0 10px 0;
}
