.container_navigation {
  background: #0160b2;
  border-radius: 5px;
}

.btn-lg {
  color: white;
  text-decoration: none;
}
.date {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 10px 0 7px;
}
.navBarBtn {
  color: white !important;
  font-weight: bold !important;
  margin-right: 5px;
  background: #0160b2 !important;
}
.navBarBtnActive {
  color: #0160b2 !important;
  background-color: white !important;
  margin-right: 5px;

  border: #0160b2 1px solid !important;
}
.navBarBtn:hover {
  color: #0160b2 !important;
  background-color: white !important;
  border: #0160b2 1px solid;
}
