.stats_container {
  display: flex;
}
.form_wrapper {
  min-height: 300px;
  border: #efebeb solid 2px;
  margin: 40px 20px 10px 20px !important;
  max-width: 700px !important;
  border-radius: 5px;
  -webkit-box-shadow: 10px 9px 13px -1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 10px 9px 13px -1px rgba(204, 204, 204, 1);
  box-shadow: 10px 9px 13px -1px rgba(204, 204, 204, 1);
}
.form_wrapper svg {
  width: 80%;
}
.pie_wrapper {
  width: 100%;
  margin: auto;
  height: 50%;
}
.title_stats {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 30px !important;
}

.content_table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  font-size: 1.6rem;
  min-width: 400px;
}

.content_table tr {
  border-bottom: lightgray 2px solid;
}
td {
  border-top: none;
  padding: 15px;
}
tr:last-of-type {
  border: none;
}
.percent_container {
  width: 50px !important;
}
.percent {
  width: 20px;
  border-radius: 50%;
  height: 20px;
}
.amount {
  text-align: right;
}
.table_row {
  cursor: pointer;
}

.table_row_selected {
  background-color: lightgrey;
  cursor: pointer;
}
.stats_error {
  font-size: 2rem;
  margin-top: 50px;
  color: lightgray;
}
