td {
  border-top: lightslategray solid 2px;
  cursor: pointer;
}

.account_container {
  height: 80px;
  width: 300px;
  color: dimgrey;
  display: flex;
  align-items: center;
}
.account {
  width: 200px;
}
.category {
  width: 450px;
  color: dimgrey;
}
.income {
  text-align: center;
  height: 80px;
  width: 200px;
  font-size: 25px;
  color: dodgerblue;
  font-weight: bolder;
}
.expense {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: red;
  font-weight: bolder;
}
.transfer {
  text-align: center;
  height: 80px;
  width: 400px;
  font-size: 25px;
  font-weight: bolder;
}
