.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
}
.container {
  width: 400px;
  min-height: 400px;
  text-align: center;
  border: 100px solid #0160b2;
  border-top: 50px solid #0160b2;
  border-bottom: 50px solid #0160b2;
  margin: 200px auto auto;
  background: white;
}

.content {
  display: flex;
  padding: 0 20px 0 20px;
}
.content_titles {
  text-align: left;
  margin-right: 10px;
  font-size: 20px;
}
.title {
  margin-bottom: 38px;
}
.input_container {
  height: 60px;
}
.amount_container{
  display: flex;
  align-items: center;
}
.fees{
  padding: 5px;
  border: dimgrey solid 2px;
  color: dimgrey;
  margin-left:7px;
  cursor: pointer;
  border-radius: 12px;

}
.input {
  font-size: 20px;
  width: 100%;
  margin-bottom: 5px;
}
.description {
  width: 90%;
  font-size: 20px;
}
.buttons_content {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.save_button {
  padding: 10px 100px 10px 100px;
  border-radius: 5px;
  background: coral;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.continue_button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.error_msg {
  color: red;
}
.selected_tab {
  border-radius: 6px;
  border: coral 2px solid;
  font-weight: bold;
  color: coral;
}
.tab_list {
  display: flex;
  justify-content: space-evenly;
}
.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}
.close_button {
  font-size: 30px;
  cursor: pointer;
  margin-left: 370px;
}
.close_button:hover {
  color: coral;
}
