.label {
  font-size: 1.2rem;
  font-weight: 500;
}
.input {
  width: 100%;
  min-height: 50px;
  font-size: 1.2rem;
  border: 2px solid #0160b2;
  color: #0160b2;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.title {
  padding-left: 10px;
  width: 85%;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}

.calendar_icon {
  font-size: 2.3rem;
  padding: 5px;
}
.export_button {
  width: 170px !important;
  background-color: #0160b2;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  text-decoration: none;
  padding: 13px 5px 13px 5px;
  text-align: center;
}
.export_button:hover {
  color: white;
}
.export_disabled_button {
  width: 170px !important;
  background-color: #0160b2;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  padding: 13px 5px 13px 5px;
}
.error_accout {
  font-size: 1.2rem;
  color: red;
}
