.content {
  display: flex;
  padding: 0 20px 0 20px;
}
.content_titles {
  text-align: left;
  margin-right: 10px;
  font-size: 20px;
}
.title {
  font-size: 1.5rem;
}

.amount_container {
  display: flex;
  align-items: center;
}
.fees {
  padding: 5px;
  border: dimgrey solid 2px;
  color: dimgrey;
  margin-left: 7px;
  cursor: pointer;
  border-radius: 12px;
}
.input {
  font-size: 20px;
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  border: none;
  background-color: white;
  border-bottom: 2px solid lightgrey;
}
.description {
  width: 90%;
  font-size: 20px;
}
.buttons_content {
  display: flex;
  justify-content: space-around;
}
.save_button {
  padding: 10px 100px 10px 100px;
  border-radius: 5px;
  background: #0160b2;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete_button {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: red;
  cursor: pointer;
}

.error_msg {
  color: red;
}
.tab_list {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
  background-color: lightgrey;
}
.selected_tab {
  border-radius: 15px;
  border: #46bd36 2px solid;
  font-weight: bold;
  color: #46bd36;
  text-decoration: none;
  background-color: white;
}
.close_button {
  font-size: 30px;
  cursor: pointer;
  margin-left: 440px;
}
.close_button:hover {
  color: #46bd36;
}
.input_description {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
