.container{
    margin:auto;
    margin-top: 200px;
    width: 500px;
}
.menu{
    display: flex;
   justify-content: space-between;
    width: 400px;
    margin-bottom: 30px;
    cursor: pointer;
}
.calendar button {
    height: 60px;
    display: flex;
    border: #0160b2 2px solid;

    cursor: pointer;
}
.content_day{
    margin-top: 15px;
}
.income{
    color: green;
}
.expense{
    color: red;
}
